.danePracownikaWindowMain{
    text-align: center;
}

.imieForm{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nazwiskoForm{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stanowiskoForm{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}